vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Mar 2019 03:18:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-DGJP3NF\\hp
vti_modifiedby:SR|DESKTOP-DGJP3NF\\hp
vti_timecreated:TR|20 Mar 2019 03:18:30 -0000
vti_cacheddtm:TX|20 Mar 2019 03:18:30 -0000
vti_filesize:IR|1161
vti_cachedlinkinfo:VX|S|./Flaticon.eot S|./Flaticon.eot S|./Flaticon.woff2 S|./Flaticon.woff S|./Flaticon.ttf S|./Flaticon.svg S|./Flaticon.svg
vti_cachedsvcrellinks:VX|FSUS|fonts/flaticon/font/Flaticon.eot FSUS|fonts/flaticon/font/Flaticon.eot FSUS|fonts/flaticon/font/Flaticon.woff2 FSUS|fonts/flaticon/font/Flaticon.woff FSUS|fonts/flaticon/font/Flaticon.ttf FSUS|fonts/flaticon/font/Flaticon.svg FSUS|fonts/flaticon/font/Flaticon.svg
vti_backlinkinfo:VX|fonts/flaticon/font/flaticon.html
vti_syncwith_maslah.c1.biz\:21/%2fmaslah.c1.biz:TX|20 Mar 2019 03:18:30 -0000
vti_syncofs_maslah.c1.biz\:21/%2fmaslah.c1.biz:TW|27 Jun 2020 00:40:00 -0000
